*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.itemCarrusel{
    position: relative; 
    width: 100%;
    padding-top: 166.666%;
}


.tarjetaCarrusel{
    background-color: rgb(8, 64, 45);
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flechasCarrusel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.flechasCarrusel a > i{  
    color: white;
    font-size: 30px;
}

#container{
    width: 100%; 
    max-width: 600px; 
    margin: 0 auto; 
    overflow: hidden;
}

.logo-container {
    width: 100px;
    height: 100px * (5/3);
    position: relative;
}

h6{
    font-size: 12px;
    position: absolute;
    bottom: 150px;
    color: white;
    transform: translateX(-50%); 
}
/*
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255); 
    transform: rotate(90deg); 
}

.crescent {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px; 
    height: 40px;
    border: 2px solid rgb(255, 255, 255); 
    border-radius: 50% 50% 0 0 / 100% 100% 0 0; 
}
*/



